// COLOR
$primary-bg: #f7f6e6;
$primary-color: #c7f148;
$divider-color: #30303b;

// ACTION STATES
$default-hover: rgba($primary-color, 0.3);
$active-link: #42b983;

// FONT COLOR
$text-white: #ffffff;
$text-secondary: #c4c2c2bf;
$text-black: #000000;
$link-hover: $primary-color;

// PADDING
$padding-enourmous: 52px;
$padding-huge: 40px;
$padding-very-big: 32px;
$padding-big: 24px;
$padding-medium: 16px;
$padding-small: 12px;
$padding-between: 8px;
$padding-tiny: 6px;
$padding-minimal: 3px;

// MARGIN
$margin-enourmous: 52px;
$margin-huge: 40px;
$margin-very-big: 32px;
$margin-big: 24px;
$margin-medium: 16px;
$margin-small: 12px;
$margin-between: 8px;
$margin-tiny: 6px;
$margin-minimal: 3px;

// FONT-SIZE
$font-size-enourmous: 40px;
$font-size-huge: 32px;
$font-size-big: 24px;
$font-size-between: 20px;
$font-size-medium: 18px;
$font-size-regular: 16px;
$font-size-subtext: 14px;
$font-size-small: 12px;


// BORDER RADIUS
$border-radius-huge: 16px;
$border-radius-big: 12px;
$border-radius-medium: 10px;
$border-radius-regular: 6px;
$border-radius-small: 3px;


